
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin: -20px;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
    
}
.box:hover {
    cursor: pointer;
}
.box:hover .hoverr-show{
    display: block !important;
}

@media(max-width:767px) {
    .butt {
        margin-bottom: 100px !important;
    }
    .lifestyle {
        margin-top: 50px !important;
    }
}

.keey:hover .list-show{
    display: block !important;
}

@media(max-width:929px) {
    .searchh {
        display: none !important;
    }
}
.parent {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 10px;
}
@media(max-width:560px) {
    .parent {
        text-align: center;
    }
}

.button {
    border-radius: 5px !important;
    border: 1px solid #eee !important;
    text-transform: capitalize !important;
    margin-left: 10px !important;
    font-size: 16px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.MuiBox-root{
    padding-top: 15px;
}
.Mui-selected {
    background-color: inherit;
    color: #e94560;
    border: 1px solid #e94560;
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 10px;
}
.MuiCardMedia-root {
    transition: 0.4s;
}
.MuiCardMedia-root:hover {
    scale: 1.1;
    rotate: 1deg;
}
.MuiBox-root {
    padding: 0;
}
.MuiPaper-root {
    width: 300px;
}

@media(max-width:767px) {
    .MuiPaper-root {
        width: 100%;
    }
}
@media(min-width:1200px) {
    .MuiPaper-root {
        width: 1100px;
    }
}
@media(max-width:1200px) {
    .MuiPaper-root {
        width: 800px;
    }
}
.MuiDialogContent-root {
    padding: 0px 0px;
}


.activve {
    background-color:red;
    color: #e94560 !important;
    border:1px solid rgba(233,69,69,0.5) !important
}

.css-bmre2r-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    background-color: transparent !important    ;
}


@media(max-width:767px) {
    .toggle {
        display: flex;
        flex-wrap: wrap;
    }
}


@media(max-width:767px) {
    .boox {
        flex-direction: column;
    }
}

@media(max-width:400px) {
    .logo {
        display: none !important;
    }
    .category {
        width: 45% !important;
    }
    #cate {
        margin: 3px;
        border: 1px solid white;
    }
    .toggle {
        justify-content: center;
    }
}