body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
scrollbar */
::-webkit-scrollbar {
  width: 0.88rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #232943 !important;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  }

::-webkit-scrollbar-thumb {
  background: #777 !important;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888 !important;
  cursor: pointer;
}


html {scrollbar-color:#777 #3d4a59 !important;}  

html {scroll-behavior: smooth;}

